bandit==1.7.4
certifi==2022.5.18.1
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
dparse==0.5.1
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.4
packaging==21.3
pbr==5.9.0
pycryptodome==3.14.1
pycryptodomex==3.14.1
pyparsing==3.0.9
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyqt5-tools==5.15.4.3.2
python-dotenv==0.20.0
PyYAML==6.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.27.1
safety==1.10.3
smmap==5.0.0
SQLAlchemy==1.4.36
stevedore==3.5.0
tabulate==0.8.9
toml==0.10.2
typing_extensions==4.2.0
urllib3==1.26.9
zipp==3.8.0
